body {
  margin: 0;
  padding: 0;
}
.box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
}
.nodeBox {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding-top: 5px;
  width: 320px;
  height: 320px;
  background-color: blueviolet;
}
.row {
  display: flex;
  justify-content: center;
  align-items: center;
}
.node {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 100px;
  margin: 2px;
  border: 1px solid black;
  background-color: chartreuse;
  font-size: 50px;
  cursor: pointer;
}

.node:hover {
  background-color: rgb(98, 194, 2);
}

.controlBox {
  display: flex;
  justify-content: space-around;
  align-items: center;
  border: 7px solid blueviolet;
  width: 100%;
}

.text {
  font-weight: 600;
}
.subText {
  color: crimson;
}

.reset {
  display: flex;
  height: 20px;
}
